<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-brand></app-brand>
      <br />
      <app-color></app-color>
    </div>
    <div class="col-md-9">
      <div
        *ngIf="dataLoaded == false"
        class="spinner-border text-success"
        role="status"
      >
        <span class="visually-hidden">Loading...</span>
      </div>

      <div>
        <div class="mb-3">
          <label for="filterText" class="form-label">Araç Ara </label>
          <input style="margin-bottom: -50px;"
            type="text"
            [(ngModel)]="filterText"
            class="form-control"
            id="filterText"
            placeholder="Bir şeyler yazın..."
          />
        </div>
        <div *ngIf="filterText" class="alert alert-success">
          {{ filterText }} aradınız
        </div>
          <div class="container-fluid d-flex justify-content-center">
            <div class="row mt-5">
              <div class="row">
                <div style="margin-top: 15px;" *ngFor="let car of carDetails | filterCar: filterText" [class]="colGenerator(carDetails)">
                  <div
                    
                    class="card"
                    style="width: 18rem"
                  >
                    <img height="200" [src]="car.images.length !==0? imageBasePath+car.images[0]:imageBasePath+defaultimg " class="card-img-top" alt="..." />
                    <div class="card-body">
                      <h5 style="text-align: center;" class="card-title">{{ car.brandName }}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li style="text-align: center;" class="list-group-item">{{ car.carName | uppercase }}</li>
                      <li style="text-align: center;" class="list-group-item">{{ car.brandName | uppercase }}</li>
                      <li style="text-align: center;" class="list-group-item">{{ car.colorName | uppercase }}</li>
                      <li style="text-align: center;" class="list-group-item">{{ car.dailyPrice | currency: "TRY":"symbol-narrow":"1.2-2" }}</li>
                      <button class="btn btn-success" routerLink="/cars/cardetail/{{car.carId}}">Detay</button>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
       
      </div>
    </div>
  </div>
</div>
